In [5]:
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
"""
# Load the avocado dataset
df = pd.read_csv('avocado.csv')
df.info

# Step 1: Get the unique regions
unique_regions = df['region'].unique()
print(f"Unique regions: {len(unique_regions)}")

# Initialize geolocator with Nominatim service
geolocator = Nominatim(user_agent="avocado_region_classifier")

# Use RateLimiter to ensure we don't exceed the query limit (adjust delay if needed)
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

# Step 2: Function to classify the region based on geopy results
def classify_region_geopy(region):
    try:
        location = geocode(region)
        if location:
            address = location.raw.get('address', {})
            if 'city' in address:
                return 'City'
            elif 'state' in address:
                return 'State'
            elif 'region' in address:
                return 'Region'
            else:
                return 'Unknown'
        else:
            return 'Unknown'
    except:
        return 'Error'

# Step 3: Apply geocoding function to unique regions
unique_region_types = {region: classify_region_geopy(region) for region in unique_regions}

# Step 4: Map the geocoded results back to the original dataframe
df['region_type'] = df['region'].map(unique_region_types)

# Step 5: Show classification counts and save the updated dataframe
print(df['region_type'].value_counts())
df.to_csv('avocado_with_region_types.csv', index=False)
"""

Unique regions: 54
region_type
Unknown    18249
Name: count, dtype: int64

In [7]:
"""
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

# Load the avocado dataset
df = pd.read_csv('avocado.csv')

# Step 1: Get the unique regions
unique_regions = df['region'].unique()
print(f"Unique regions: {len(unique_regions)}")

# Initialize geolocator with Nominatim service
geolocator = Nominatim(user_agent="avocado_region_classifier")

# Use RateLimiter to ensure we don't exceed the query limit (adjust delay if needed)
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

# Step 2: Function to classify the region based on geopy results
def classify_region_geopy(region):
    try:
        location = geocode(region)
        if location:
            address = location.raw.get('address', {})
            print(f"Geocoding {region}: {address}")  # Print out the address for debugging
            # Check if we have information about city, state, or region
            if 'city' in address:
                return 'City'
            elif 'state' in address:
                return 'State'
            elif 'country' in address or 'region' in address:
                return 'Region'
            else:
                return 'Unknown'
        else:
            return 'Unknown'
    except Exception as e:
        print(f"Error geocoding {region}: {e}")
        return 'Error'

# Step 3: Apply geocoding function to unique regions
unique_region_types = {region: classify_region_geopy(region) for region in unique_regions}

# Step 4: Map the geocoded results back to the original dataframe
df['region_type'] = df['region'].map(unique_region_types)

# Step 5: Show classification counts and save the updated dataframe
print(df['region_type'].value_counts())
df.to_csv('avocado_with_region_types.csv', index=False)
"""

Unique regions: 54
Geocoding Albany: {}
Geocoding Atlanta: {}
Geocoding Boise: {}
Geocoding Boston: {}
Geocoding California: {}
Geocoding Charlotte: {}
Geocoding Chicago: {}
Geocoding Columbus: {}
Geocoding Denver: {}
Geocoding Detroit: {}
Geocoding GrandRapids: {}
Geocoding Houston: {}
Geocoding Indianapolis: {}
Geocoding Jacksonville: {}
Geocoding LasVegas: {}
Geocoding LosAngeles: {}
Geocoding Louisville: {}
Geocoding Midsouth: {}
Geocoding Nashville: {}
Geocoding NewYork: {}
Geocoding Northeast: {}
Geocoding Orlando: {}
Geocoding Philadelphia: {}
Geocoding Pittsburgh: {}
Geocoding Plains: {}
Geocoding Portland: {}
Geocoding Roanoke: {}
Geocoding Sacramento: {}
Geocoding SanDiego: {}
Geocoding SanFrancisco: {}
Geocoding Seattle: {}
Geocoding SouthCentral: {}
Geocoding Southeast: {}
Geocoding Spokane: {}
Geocoding StLouis: {}
Geocoding Syracuse: {}
Geocoding Tampa: {}
Geocoding West: {}
region_type
Unknown    18249
Name: count, dtype: int64

In [36]:
import pandas as pd

# Load the avocado dataset
df = pd.read_csv('avocado.csv')

# Step 1: Define the unique regions and manually classify them
region_classification = {
    'Albany': 'City',
    'Atlanta': 'City',
    'BaltimoreWashington': 'Region',
    'Boise': 'City',
    'Boston': 'City',
    'BuffaloRochester': 'Region',
    'California': 'GreaterRegion',
    'Charlotte': 'City',
    'Chicago': 'City',
    'CincinnatiDayton': 'Region',
    'Columbus': 'City',
    'DallasFtWorth': 'Region',
    'Denver': 'City',
    'Detroit': 'City',
    'GrandRapids': 'City',
    'GreatLakes': 'GreaterRegion',
    'HarrisburgScranton': 'Region',
    'HartfordSpringfield': 'Region',
    'Houston': 'City',
    'Indianapolis': 'City',
    'Jacksonville': 'City',
    'LasVegas': 'City',
    'LosAngeles': 'City',
    'Louisville': 'City',
    'MiamiFtLauderdale': 'Region',
    'Midsouth': 'GreaterRegion',
    'Nashville': 'City',
    'NewOrleansMobile': 'Region',
    'NewYork': 'City',
    'Northeast': 'GreaterRegion',
    'NorthernNewEngland': 'Region',
    'Orlando': 'City',
    'Philadelphia': 'City',
    'PhoenixTucson': 'Region',
    'Pittsburgh': 'City',
    'Plains': 'GreaterRegion',
    'Portland': 'City',
    'RaleighGreensboro': 'Region',
    'RichmondNorfolk': 'Region',
    'Roanoke': 'City',
    'Sacramento': 'City',
    'SanDiego': 'City',
    'SanFrancisco': 'City',
    'Seattle': 'City',
    'SouthCarolina': 'State',
    'SouthCentral': 'GreaterRegion',
    'Southeast': 'GreaterRegion',
    'Spokane': 'City',
    'StLouis': 'City',
    'Syracuse': 'City',
    'Tampa': 'City',
    'TotalUS': 'TotalUS',
    'West': 'GreaterRegion',
    'WestTexNewMexico': 'Region'
}

# Step 2: Map the classification back to the DataFrame
df['region_type'] = df['region'].map(region_classification)

# Step 3: Show classification counts and save the updated dataframe
print(df['region_type'].value_counts())
df.to_csv('avocado_with_region_types.csv', index=False)

region_type
City      10478
Region     6757
State       676
Name: count, dtype: int64

In [37]:
import pandas as pd

# Load the dataset
df = pd.read_csv('avocado_with_region_types.csv')

# Step 1: Filter only regions and cities
df_filtered = df[df['region_type'].isin(['City', 'Region'])]

# Step 2: Group by region and city to check for duplicates
# We'll count how often each city appears in regions and flag duplicates
city_region_counts = df_filtered.groupby(['region_type', 'region']).size().reset_index(name='count')

# Step 3: Filter for repeated cities
repeated_cities_in_region = city_region_counts[city_region_counts['count'] > 1]

# Display the repeated cities
print(repeated_cities_in_region)

   region_type               region  count
0         City               Albany    338
1         City              Atlanta    338
2         City                Boise    338
3         City               Boston    338
4         City            Charlotte    338
5         City              Chicago    338
6         City             Columbus    338
7         City               Denver    338
8         City              Detroit    338
9         City          GrandRapids    338
10        City              Houston    338
11        City         Indianapolis    338
12        City         Jacksonville    338
13        City             LasVegas    338
14        City           LosAngeles    338
15        City           Louisville    338
16        City            Nashville    338
17        City              NewYork    338
18        City              Orlando    338
19        City         Philadelphia    338
20        City           Pittsburgh    338
21        City             Portland    338
22        City              Roanoke    338
23        City           Sacramento    338
24        City             SanDiego    338
25        City         SanFrancisco    338
26        City              Seattle    338
27        City              Spokane    338
28        City              StLouis    338
29        City             Syracuse    338
30        City                Tampa    338
31      Region  BaltimoreWashington    338
32      Region     BuffaloRochester    338
33      Region     CincinnatiDayton    338
34      Region        DallasFtWorth    338
35      Region           GreatLakes    338
36      Region   HarrisburgScranton    338
37      Region  HartfordSpringfield    338
38      Region    MiamiFtLauderdale    338
39      Region             Midsouth    338
40      Region     NewOrleansMobile    338
41      Region            Northeast    338
42      Region   NorthernNewEngland    338
43      Region        PhoenixTucson    338
44      Region               Plains    338
45      Region    RaleighGreensboro    338
46      Region      RichmondNorfolk    338
47      Region         SouthCentral    338
48      Region            Southeast    338
49      Region                 West    338
50      Region     WestTexNewMexico    335

In [38]:
import pandas as pd

# Load the dataset
df = pd.read_csv('avocado_with_region_types.csv')

df

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region,region_type
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany,City
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany,City
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany,City
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany,City
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany,City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico,Region
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico,Region
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico,Region
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico,Region
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico,Region

In [34]:
df2=df[["region_type", "region", "year", "Total Volume"]].groupby(by=["year","region_type"]).agg({"Total Volume":"sum"})

In [35]:
df2

                  Total Volume
year region_type
2015 City         7.282118e+08
     Region       1.682348e+09
     State        3.176533e+08
2016 City         8.099667e+08
     Region       1.846873e+09
     State        3.448912e+08
2017 City         8.202364e+08
     Region       1.911762e+09
     State        3.376135e+08
2018 City         2.261566e+08
     Region       5.433721e+08
     State        8.957739e+07

In [31]:
df2=df.pivot_table(values="Total Volume", index=["year", "region_type", "region"],aggfunc="sum")
df2

                                   Total Volume
year region_type region
2015 City        Albany              4029896.43
                 Atlanta            23231698.12
                 Boise               3784357.34
                 Boston             27454991.64
                 Charlotte           9487343.42
...                                         ...
2018 Region      Southeast          60284470.54
                 West               92477085.01
                 WestTexNewMexico   11800820.78
     State       California         83741308.94
                 SouthCarolina       5836081.34

[212 rows x 1 columns]